<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/assets/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="../../static/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../../static/assets/css/custom-styles.css" rel="stylesheet" />
    <script src="../../static/JS/Cookies.js"></script>
    <script src="../../static/assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/assets/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="../../static/assets/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.js"></script>
    <script src="../../static/assets/js/bootstrap.min.js"></script>

</head>

<body class="frame_body">
	<div class="row">
	      <div class="col-md-12">
	          <nav class="navbar navbar-default">
	              <div class="container-fluid">
	                  <!-- Brand and toggle get grouped for better mobile display -->
	                  <div class="navbar-header">
	                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
	                              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	                          <span class="sr-only">Toggle navigation</span>
	                          <span class="icon-bar"></span>
	                          <span class="icon-bar"></span>
	                          <span class="icon-bar"></span>
	                      </button>
	                      <a class="navbar-brand" href="#">耗材入库审核结果</a>
	                  </div>
                       <div>
                          <ul class="nav navbar-nav navbar-right">
                              <li class="dropdown">
                                  <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown">
                                      切换审核类型
                                      <b class="caret"></b>
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li><a href="/show_hc_admin/" target="main" >初步审核</a></li>
                                      <li><a href="/show_hc_admin_buy/" target="main" >购买审核</a></li>
                                      <li><a href="/show_hc_admin_deposit/" target="main" >入库审核</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </div>
	          </nav>
	      </div>
	  </div>
		</div>

    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <style>
                        .dataTable th {
                            white-space: nowrap !important;
                        }

                        .div_full_private {
                            width: 100%;
                        }

                        .xftb table tbody th:first-child td:first-child {
                            width: 400px;
                        }
                    </style>
                    <table class="table table-striped table-bordered table-hover div_full_private xftb" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>材料名称</th>
                                <th>规格型号</th>
                                <th>单位</th>
                                <th>数量</th>
                                <th>单价(元)</th>
                                <th>金额(元)</th>
                                <th>使用日期</th>
                                <th>验收领用人</th>
                                <th width="10%">学期</th>
                                <th>备注</th>
                                <th>创建者</th>
                                <th>学院审核者</th>
                                <th>教务处审核者</th>
                                <th>审核状态</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
    <script>
        var final_data;
        $(document).ready(function () {
            $.ajax({
                type: 'POST',
                url: "/show_check_all_hc_deposit/",
                "async": false,
                dataType: "json",
                success: function (data) {
                    final_data = data;
                    console.log(final_data);
                }
            });
            for (var i = 0; i < final_data.length; i++) {
                final_data[i]['index'] = i;
            }
            console.log(final_data);
            var table = $('#dataTables-example').DataTable({
                "data": final_data,
                "columns": [ //返回的json数据在这里填充，注意一定要与上面的<th>数量对应，否则排版出现扭曲
                    {
                        "data": "data_id"
                    },
                    {
                        "data": "data_name"
                    },
                    {
                        "data": "data_parameter"
                    },
                    {
                        "data": "data_company"
                    },
                    {
                        "data": "data_count"
                    },
                    {
                        "data": "data_price"
                    },
                    {
                        "data": "data_price2"
                    },
                    {
                        "data": "data_usedate"
                    },
                    {
                        "data": "data_person"
                    },
                    {
                        "data": "term"
                    },
                    {
                        "data": "data_remark"
                    },
                    {
                        "data": "creator"
                    },
                    {
                        "data": "examine"
                    },
                    {
                        "data": "admin"
                    }
                ],
                "columnDefs": [{
                    // 定义操作列,######以下是重点########
                    "targets": 14, //操作按钮目标列
                    "data": "is_deposit",
                    "render": function (data, type, row) {
                        var text = "";
                        if (data) {
                            text = "已入库";
                        } else {
                            text = "未入库"
                        }
                        var html = "<div align='center' id='text'>" + text + "</div>";
                        return html;
                    }
                }],
                "createdRow": function (row, data, dataIndex) {
                    if (data['is_deposit'] == true) {
                        $(row).addClass('success');
                    } else {
                        $(row).addClass('danger');
                    }
                }
            });
        });
    </script>
</body>

</html>