<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/assets/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="../../static/assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="../../static/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- hiprint -->
    <link href="../../static/assets/hiprint/css/hiprint.css" rel="stylesheet">
    <link href="../../static/assets/hiprint/css/print-lock.css" rel="stylesheet">
    <script src="../../static/JS/Cookies.js"></script>
    <script src="../../static/assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/assets/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="../../static/assets/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.js"></script>
    <script src="../../static/assets/js/bootstrap.min.js"></script>
    <style>
        .dataTable th {
            white-space: nowrap !important;
        }

        .div_full_private {
            width: 100%;
        }

        .xftb table tbody th:first-child td:first-child {
            width: 400px;
        }
    </style>
</head>

<body class="frame_body">
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)">耗材一级审核进度查看</a>
            </div>
            <div class="navbar-right">
                <button type="button" class="btn btn-success navbar-btn" style="margin-right: 15px" data-toggle="modal"
                        onclick="openModel(0, false, '添加')">
                    添加
                </button>
                <button type="button" class="btn btn-danger navbar-btn" style="margin-right: 15px" onclick="delItem()">
                    删除
                </button>
                <button type="button" class="btn btn-success navbar-btn" style="margin-right: 15px"
                        onclick="exportExcel()">
                    导出excel表
                </button>
                <button type="button" class="btn btn-success navbar-btn" style="margin-right: 30px"
                        onclick="printNow()">打印
                </button>
            </div>
        </nav>
    </div>
</div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover div_full_private xftb"
                       id="dataTables-example" width="100%">
                    <thead>
                    <tr>
                        <th><input id="checkall" type="checkbox" onclick="checkAll()"/></th>
                        <th>编号</th>
                        <th>耗材名称</th>
                        <th>规格型号</th>
                        <th>单位</th>
                        <th>数量</th>
                        <th>单价(元)</th>
                        <th>金额(元)</th>
                        <th>使用日期</th>
                        <th>验收领用人</th>
                        <th>学期</th>
                        <th>备注</th>
                        <th>创建者</th>
                        <th>下级审核人</th>
                        <th>审核状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
<!--添加功能模态框 -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="ModalLabel">
                    添加耗材审核信息
                </h4>
            </div>
            <div class="modal-body">
                <form id="formHc">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>材料名称*</label>
                                <input name="data_name" id="data_name" class="form-control" placeholder="材料名称">
                            </div>
                            <div class="form-group">
                                <label>规格型号*</label>
                                <input name="data_parameter" id="data_parameter" class="form-control"
                                       placeholder="规格型号">
                            </div>
                            <div class="form-group">
                                <label>单位*</label>
                                <input name="data_company" id="data_company" class="form-control" placeholder="单位">
                            </div>

                            <div class="form-group">
                                <label>数量*</label>
                                <input name="data_count" id="data_count" class="form-control" placeholder="数量">
                            </div>

                            <div class="form-group">
                                <label>单价(元)*</label>
                                <input name="data_price" id="data_price" class="form-control" placeholder="单价(元)">
                            </div>

                            <div class="form-group">
                                <label>金额(元)*</label>
                                <input name="data_price2" id="data_price2" class="form-control" placeholder="金额(元)">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>使用日期</label>
                                <input type="date" name="data_usedate" id="data_usedate" class="form-control"
                                       placeholder="使用日期">
                            </div>
                            <div class="form-group">
                                <label>验收负责人</label>
                                <input name="data_person" id="data_person" class="form-control" placeholder="验收负责人">
                            </div>
                            <div class="form-group">
                                <label>备注</label>
                                <input name="data_remark" id="data_remark" class="form-control" placeholder="备注">
                            </div>
                            <div class="form-group">
                                <label>使用学期</label>
                                <select name="term" class="form-control" id="term">
                                </select>
                            </div>
                            <div class="form-group">
                                <label id="examine_label">下级审核人*</label>
                                <select name="examine" class="form-control" id="examine">
                                </select>
                            </div>
                            <input type="hidden" name="data_type" value="0">
                            <input type="hidden" name="creator" id="creator" value="0">
                            <input type="hidden" name="data_id" id="edit_data_id" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="submit_form_hc('添加')" id="submitHc">提交</button>
                <button type="button" class="btn btn-danger" onclick="document.getElementById('formHc').reset();"
                        id="resetButton">重置
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- excel 导出包-->
<script src="../../static/JS/xlsx.core.min.js"></script>
<!-- polyfill.min.js解决浏览器兼容性问题v6.26.0-->
<script src="../../static/assets/hiprint/polyfill.min.js"></script>
<!-- hiprint 核心js-->
<script src="../../static/assets/hiprint/hiprint.bundle.js"></script>
<!-- 调用浏览器打印窗口helper类，可自行替换-->
<script src="../../static/assets/hiprint/plugins/jquery.hiwprint.js"></script>
<script>
    var final_data;
    var creator = getCookie('user');
    // 设置用户值
    $('#creator').val(creator);

    // 复选框全选或不全选
    function checkAll() {
        // 注意 用attr("checked")获取的属性不是bool值
        var flag = $("#checkall").prop("checked");
        $(":checkbox").prop("checked", flag);
    }

    // 删除数据
    function delItem() {
        var delStr = "";
        var delItemLength = 0;
        var flag = true;
        $("[name='items']:checkbox").each(function () {
            if ($(this).prop("checked")) {
                var check_1 = $(this).attr("data-check_1")
                if (check_1 == 'true') {
                    flag = false;
                    return;
                }
                delStr += $(this).data("id").replace(/'/g, "") + ',';
                delItemLength += 1;
            }
        });
        if (!flag) {
            alert("不能删除已审核数据！");
        } else if (delItemLength === 0) {
            alert("请先选中删除项！");
        } else if (confirm("确认要删除选中的" + delItemLength + "个数据吗？")) {
            $.ajax({
                type: 'post',
                url: "/del_hc/",
                data: {
                    delStr: delStr
                },
                "async": false,
                traditional: true,
                dataType: "json",
                success: function (data) {
                    if (data.message === true) {
                        alert(data.note);
                        // 重绘表格
                        $('#dataTables-example').dataTable().fnDraw(false);
                    } else {
                        alert("删除失败！")
                    }
                }
            });
        }
    }

    // 导出excel
    function exportExcel() {
        var table = $('#dataTables-example').DataTable();
        // 隐藏0,15列
        table.columns([0, 15]).visible(false);
        let workbook = XLSX.utils.table_to_book(table.table().node());
        XLSX.writeFile(workbook, '耗材一级审核进度查看.xlsx');
        // 显示0,15列
        table.columns([0, 15]).visible(true);
    }

    // 打印Json配置模板
    var customPrintJson = {
        "panels": [
            {
                "index": 0,
                "height": 210,
                "width": 297,
                "paperHeader": 49.5,
                "paperFooter": 549,
                "printElements": [
                    {
                        "options": {
                            "left": 327,
                            "top": 25,
                            "height": 19.5,
                            "width": 216,
                            "title": "耗材一级审核进度",
                            "fontFamily": "SimSun",
                            "fontSize": 15,
                            "fontWeight": "bold",
                            "textAlign": "center",
                            "textContentVerticalAlign": "middle"
                        },
                        "printElementType": {
                            "type": "text"
                        }
                    },
                    {
                        "options": {
                            "left": 21,
                            "top": 51,
                            "height": 478.5,
                            "width": 790.5,
                            "textAlign": "center",
                            "tableHeaderBackground": "#ffffff",
                            "field": "table",
                            "columns": [
                                [
                                    {
                                        "title": "编号",
                                        "width": 35.68860834917925,
                                        "field": "data_id",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "材料名称",
                                        "width": 68.89321046271897,
                                        "field": "data_name",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "规格型号",
                                        "width": 76.7703537338574,
                                        "field": "data_parameter",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "单位",
                                        "width": 41.55225702034162,
                                        "field": "data_company",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "数量",
                                        "width": 33.20184845545217,
                                        "field": "data_count",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "单价（元）",
                                        "width": 49.09741909492965,
                                        "field": "data_price",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "金额（元）",
                                        "width": 47.62387666428066,
                                        "field": "data_price2",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "使用日期",
                                        "width": 49.183410306697255,
                                        "field": "data_usedate",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "验收领用人",
                                        "width": 54.69503111011233,
                                        "field": "data_person",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "学期",
                                        "width": 52.72463055478188,
                                        "field": "term",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "备注",
                                        "width": 86.88616778498819,
                                        "field": "data_remark",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "创建者",
                                        "width": 77.73036690389884,
                                        "field": "creator",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "下级审核人",
                                        "width": 70.80983409604282,
                                        "field": "data_person",
                                        "colspan": 1,
                                        "rowspan": 1
                                    },
                                    {
                                        "title": "审核状态",
                                        "width": 45.642985462719025,
                                        "field": "check_1",
                                        "colspan": 1,
                                        "rowspan": 1
                                    }
                                ]
                            ]
                        },
                        "printElementType": {
                            "title": "表格",
                            "type": "tableCustom"
                        }
                    }
                ],
                "paperNumberLeft": 811,
                "paperNumberTop": 573,
                "rotate": true
            }
        ]
    }
    // 打印的数据
    var printData = {
        table: []
    };

    // 打印当前数据
    function printNow() {
        var table = $('#dataTables-example').DataTable();
        var tableData = [];
        for (let i = 0; i < table.data().length; i++) {
            let data = table.data()[i];
            delete data.is_buy;
            delete data.is_deposit;
            delete data.check_2;
            delete data.admin;
            delete data.date;
            if (data.check_1 === true) {
                data["check_1"] = "已审核"
            } else {
                data["check_1"] = "未审核"
            }
            tableData.push(data)
        }
        console.log(tableData);
        printData.table = tableData;
        hiprint.init();
        var hiprintTemplate = new hiprint.PrintTemplate({template: customPrintJson});
        hiprintTemplate.print(printData);
    }

    // 打开添加模态框
    function openModel(id, check_1, flag) {
        if (flag === "添加") {
            $("#ModalLabel").text("添加耗材审核信息");
            $("#submitHc").attr("onclick", "submit_form_hc('添加')");
            $("#resetButton").removeClass("hidden");
            $('#Modal').modal();
            // 添加功能模态框获取下级审核人和学期
            $.get("/get_examine/", function (data, status) {
                //alert("数据: " + data + "\n状态: " + status);
                var term = data[0]["term"];
                $("#term").children().remove();
                $("#term").append("<option value=" + term + ">" + term + "</option>");
                if (status == 'success' && data.length > 0) {
                    $("#examine").children().remove();
                    // 获得数据后，添加选择项
                    $("#examine").append("<option value=\"务必选择正确的下级审核人\">务必选择正确的下级审核人</option>")
                    for (var i = 0; i < data.length; i++) {
                        var text = data[i]["admin_name"];
                        $("#examine").append("<option value=" + text + ">" + text + "</option>")
                    }
                }
                // 获取数据失败，下级审核项变填空项
                else {
                    $("#examine").remove();
                    $("#examine_label").after("<input name=\"examine\" id=\"examine\" class=\"form-control\" placeholder=\"务必填写正确的下级审核人\">");
                }
            });
        } else if (flag === "修改") {
            if (check_1 === true) {
                alert("不能修改审核信息！");
            } else {
                $("#ModalLabel").text("修改耗材审核信息");
                $("#submitHc").attr("onclick", "submit_form_hc('修改')");
                $("#resetButton").addClass("hidden");
                // 显示模态框
                $('#Modal').modal();
                $('#edit_data_id').val(id);
                // 获取这一行的数据，显示到修改模态框
                $.ajax({
                    async: false, //同步
                    url: '/edit_hc_creator/',
                    data: {
                        id: id
                    },
                    type: "get",
                    success: function (data) {
                        if (data.length > 0) {
                            $("#data_name").val(data[0].data_name);
                            $("#data_company").val(data[0].data_company);
                            $("#data_count").val(data[0].data_count);
                            $("#data_parameter").val(data[0].data_parameter);
                            $("#data_person").val(data[0].data_person);
                            $("#data_price").val(data[0].data_price);
                            $("#data_price2").val(data[0].data_price2);
                            $("#data_remark").val(data[0].data_remark);
                            $("#Creator").val(creator);
                            $("#data_usedate").val(data[0].data_usedate);
                            var term = data[0]["term"];
                            $("#term").children().remove();
                            $("#term").append("<option value=" + term + ">" + term + "</option>");
                            $("#examine").children().remove();
                            $("#examine").append("<option value=" + data[0].examine + ">" + data[0].examine + "</option>")
                        }
                    }

                });
                // 刷新下级审核人列表
                $.ajax({
                    async: false, //同步
                    url: '/get_examine/',
                    data: {
                        id: id
                    },
                    type: "get",
                    success: function (data) {
                        if (data.length > 0) {
                            $("#examine").children().remove();
                            for (var i = 0; i < data.length; i++) {
                                var text = data[i]["admin_name"];
                                if (text != $("#examine").text()) {
                                    $("#examine").append("<option value=" + text + ">" + text + "</option>")
                                }
                            }
                        }
                        // 获取数据失败，下级审核项变填空项
                        else {
                            $("#examine").remove();
                            $("#examine_label").after("<input name=\"examine\" id=\"examine\" class=\"form-control\" placeholder=\"务必填写正确的下级审核人\">");
                        }
                    }
                });
            }
        }
    }

    // 检验后提交耗材表单(添加)
    function submit_form_hc(flag) {
        var data_name = $("#data_name").val(),
            data_parameter = $("#data_parameter").val(),
            data_company = $("#data_company").val(),
            data_count = $("#data_count").val(),
            data_price = $("#data_price").val(),
            data_price2 = $("#data_price2").val(),
            examine = $("#examine").val(),
            data_type = $("input[name='data_type']").val(),
            creator = $("#creator").val();
        var test_list = [data_name, data_company, data_count, data_parameter, data_price, data_price2
            , data_type, creator, examine];
        if (flag === "添加") {
            for (var i = 0; i < test_list.length; i++) {
                if (test_list[i] == "") {
                    alert("提交的信息中，*号项不能为空！");
                    return;
                }
            }
            // ajax获取下级审核人成功或失败后，错误提交信息判断
            if (examine == "务必选择正确的下级审核人" || examine == "务必填写正确的下级审核人") {
                alert("请选择下级审核人！");
                return;
            }
            $.ajax({
                async: false,
                type: "post",
                url: '/add_hc/',
                contentType: "application/x-www-form-urlencoded",
                data: $("#formHc").serialize(),
                success: function (data) {
                    if (data.message === true) {
                        // 刷新当前页的表格数据
                        $('#dataTables-example').dataTable().fnDraw(false);
                        document.getElementById('formHc').reset();// 清空表单
                        $("#Modal").modal("hide") // 隐藏模态框
                    }
                }
            })
        } else if (flag === "修改") {
            for (var i = 0; i < test_list.length; i++) {
                if (test_list[i] == "") {
                    alert("提交的信息中，*号项不能为空！");
                    return;
                }
            }
            // ajax获取下级审核人成功或失败后，错误提交信息判断
            if (examine == "务必选择正确的下级审核人" || examine == "务必填写正确的下级审核人") {
                alert("请选择下级审核人！");
                return;
            }
            $.ajax({
                async: false,
                url: '/edit_hc_creator/',
                method: 'post',
                contentType: "application/x-www-form-urlencoded",
                data: $("#formHc").serialize(),
                success: function (data) {
                    if (data.message === true) {
                        $('#dataTables-example').dataTable().fnDraw(false);
                        document.getElementById('formHc').reset();// 清空表单
                        $("#Modal").modal("hide") // 隐藏模态框
                    }
                }
            })
        }
    }

    $(document).ready(function () {
        // 初始化表格
        var table = $('#dataTables-example').DataTable({
            "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "全部数据"]], // 更改显示记录数选项
            "iDisplayLength": 25, // 默认显示的记录数
            "pagingType": "full_numbers", // 页脚设置
            "processing": true, // 处理中提示
            "serverSide": true,// 服务器端分页
            "orderable": true,// 允许排序
            "searching": true,// 允许查询
            "ajax": {
                "type": "POST",
                "url": "/show_check_hc_creator/",
                "data": {creator: creator},
                "dataSrc": "data" //从json数据中获取key为data的值
            },
            "columns": [ //返回的json数据在这里填充，注意一定要与上面的<th>数量对应，否则排版出现扭曲
                {
                    "data": null
                },
                {
                    "data": "data_id"
                },
                {
                    "data": "data_name"
                },
                {
                    "data": "data_parameter"
                },
                {
                    "data": "data_company"
                },
                {
                    "data": "data_count"
                },
                {
                    "data": "data_price"
                },
                {
                    "data": "data_price2"
                },
                {
                    "data": "data_usedate"
                },
                {
                    "data": "data_person"
                },
                {
                    "data": "term"
                },
                {
                    "data": "data_remark"
                },
                {
                    "data": "creator"
                },
                {
                    "data": "examine"
                }, {
                    "data": null
                }
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row, meta) {
                        var html = '<input type="checkbox" name="items" data-id="' + '\'' + row.data_id + '\'' + '" data-check_1="' + row.check_1 + '"/>';
                        return html;
                    },
                    "targets": 0,
                    "orderable": false // 取消这一行的排序
                },
                {
                    "render": function (data, type, row, meta) {
                        var html = '<a href="javascript:void(0)" onclick="openModel(' + '\'' + row.data_id + '\'' + ',' + row.check_1 + ',\'修改\')">修改</a>';//加单引号
                        return html;
                    },
                    "targets": 15
                },
                {
                    // 定义操作列,######以下是重点########
                    "targets": 14, //操作按钮目标列
                    "data": "check_1",
                    "render": function (data, type, row) {
                        var text = "";
                        if (data.check_1) {
                            text = "已批准";
                        } else {
                            text = "未批准"
                        }
                        var html = "<div align='center' id='text'>" + text + "</div>";
                        return html;
                    }
                }],
            "createdRow": function (row, data, dataIndex) {
                if (data['check_1'] == true) {
                    $(row).addClass('success');
                } else {
                    $(row).addClass('danger');
                }
            },
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
    });
</script>
</body>
</html>