<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/assets/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="../../static/assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="../../static/assets/css/custom-styles.css" rel="stylesheet"/>
    <style>
        .dataTable th {
            white-space: nowrap !important;
        }

        .div_full_private {
            width: 100%;
        }

        .xftb table tbody th:first-child td:first-child {
            width: 400px;
        }
    </style>
</head>
<body class="frame_body">
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)">用户管理</a>
            </div>
            <div class="navbar-right">
                <button type="button" class="btn btn-success navbar-btn" style="margin-right: 15px" data-toggle="modal"
                        onclick="openModel(0,'添加')">
                    添加账号
                </button>
                <button type="button" class="btn btn-danger navbar-btn" style="margin-right: 15px" onclick="delItem()">
                    删除账号
                </button>
            </div>
        </nav>
    </div>
</div>
<!-- /. ROW  -->
<!-- 用户表格 -->
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-striped table-bordered table-hover div_full_private xftb"
                       id="dataTables-example">
                    <thead>
                    <tr>
                        <th><input id="checkall" type="checkbox" onclick="checkAll()"/></th>
                        <th>序号</th>
                        <th>用户等级</th>
                        <th>姓名</th>
                        <th>工号</th>
                        <th>所属单位</th>
                        <th>账号添加时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="ModalLabel">
                    添加用户
                </h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'users:add_admin' %}" method="post" id="addAdmin">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>教师工号</label>
                                <input id="number" name="number" class="form-control" placeholder="教师工号">
                                <p id="note" style="color: deeppink"></p>
                            </div>
                            <div class="form-group">
                                <label>教师姓名</label>
                                <input id="name" name="name" class="form-control" placeholder="教师姓名">
                            </div>
                            <div class="form-group">
                                <label>所属单位</label>
                                <input id="unit" name="unit" class="form-control" placeholder="所属单位">
                            </div>
                            <div class="form-group">
                                <label>用户等级</label>
                                <select id="rank" name="rank" class="form-control">
                                    <option value="普通老师">普通老师</option>
                                    <option value="学院领导">学院领导</option>
                                    <option value="教务处老师">教务处老师</option>
                                </select>
                            </div>
                            <input type="hidden" name="edit_adminId" id="edit_adminId" value="">
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="submit_form_admin()" id="submitAdmin">提交</button>
                <button type="button" class="btn btn-danger" onclick="document.getElementById('addAdmin').reset();"
                        id="resetButton">重置
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 用户表格结束-->
<!-- jquery包 -->
<script src="../../static/assets/js/jquery-3.3.1.min.js"></script>
<!--datatable 插件 -->
<script src="../../static/assets/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="../../static/assets/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.js"></script>
<!-- 模态框依赖js文件 -->
<script src="../../static/assets/js/bootstrap.min.js"></script>
<script>
    var final_data;

    // 打开模态框
    function openModel(id, flag) {
        if (flag === "添加") {
            $("#ModalLabel").text("添加用户");
            $("#number").parent().show();
            $("#unit").parent().show();
            $("#name").parent().show();
            $("#resetButton").show();
            $("#submitAdmin").attr('onclick', "submit_form_admin('添加')");
            $('#Modal').modal();
            document.getElementById('addAdmin').reset();
        } else if (flag === "修改") {
            $("#ModalLabel").text("修改用户等级");
            $("#number").parent().hide();
            $("#unit").parent().hide();
            $("#name").parent().hide();
            $("#resetButton").hide();
            $("#submitAdmin").attr('onclick', "submit_form_admin('修改')");
            $('#Modal').modal();
            // 只触发一次事件，获取到该行数据
            $('#dataTables-example tbody').one('click', 'tr', function () {
                var rowData = $('#dataTables-example').DataTable().row(this).data();
                $("#edit_adminId").val(rowData.id);// 设置admin_id
                if (rowData.admin_rank === "普通老师") {
                    $("#rank").children().remove();
                    $("#rank").append("<option value=\"普通老师\">普通老师</option>" +
                        "<option value=\"学院领导\">学院领导</option>" +
                        " <option value=\"教务处老师\">教务处老师</option>")
                } else if (rowData.admin_rank === "学院领导") {
                    $("#rank").children().remove();
                    $("#rank").append("<option value=\"学院领导\">学院领导</option>" +
                        "<option value=\"普通老师\">普通老师</option>" +
                        " <option value=\"教务处老师\">教务处老师</option>")
                } else {
                    $("#rank").children().remove();
                    $("#rank").append(" <option value=\"教务处老师\">教务处老师</option>" + "<option value=\"普通老师\">普通老师</option>" +
                        "<option value=\"学院领导\">学院领导</option>")
                }
            });
        }
    }

    // 添加用户
    function submit_form_admin(flag) {
        if (flag === "添加") {
            $.ajax({
                async: false,
                url: '{% url 'users:add_admin' %}',
                // scrf验证
                data: { csrfmiddlewaretoken: '{{ csrf_token  }}' },
                method: 'post',
                contentType: "application/x-www-form-urlencoded",
                data: $("#addAdmin").serialize(),
                success: function (data) {
                    if (data.message === true) {
                        location.reload();
                    }
                    else if(data.message===false){
                         $('#Modal').modal('hide');
                        document.getElementById('addAdmin').reset();
                        alert('该用户已经添加');
                    }
                }
            })

        } else if (flag === "修改") {
            $.ajax({
                async: false,
                url: '{% url 'users:edit_admin' %}',
                method: 'post',
                contentType: "application/x-www-form-urlencoded",
                data: $("#addAdmin").serialize(),
                success: function (data) {
                    if (data.message === true) {
                        location.reload();
                    }
                }
            })
        }
    }

    function delItem() {
        var delStr = "";
        var delItemLength = 0;
        $("[name='items']:checkbox").each(function () {
            if ($(this).prop("checked")) {
                delStr += $(this).data("id") + ',';
                delItemLength += 1;
            }
        });
        if (confirm("确认要删除选中的" + delItemLength + "个数据吗？")) {
            $.ajax({
                type: 'POST',
                url: "{% url 'users:del_admin' %}",
                "async": false,
                contentType: "application/x-www-form-urlencoded",
                data: {delete_array: delStr,csrfmiddlewaretoken: '{{ csrf_token  }}'},
                success: function (data) {
                    if (data.message === true) {
                        location.reload();
                    }
                }
            });
        }

    }

    // 复选框全选或不全选
    function checkAll() {
        // 注意 用attr("checked")获取的属性不是bool值
        var flag = $("#checkall").prop("checked");
        $(":checkbox").prop("checked", flag);
    }

    $(document).ready(function () {
        //教师工号失去聚焦后，ajax获取姓名和单位
        $('#number').blur(function () {
            var number = $('#number').val();
            $('#note').text('');    //设置提示字为空
            $.post("{% url 'users:get_teacher_info' %}",
                {number: number, csrfmiddlewaretoken: '{{ csrf_token  }}'},
                function (data, status) {
                    if (data.message === false) {
                        $('#note').text(data.note);
                    } else if (status != 'success') {
                        $('#note').text('请求失败，检查网络！');
                    } else {
                        $('#name').val(data.TeacherName);
                        $('#unit').val(data.InstituteName);
                    }
                })
        });
        //获取用户列表
        $.ajax({
            type: 'GET',
            url: "{% url 'users:show_all_admin' %}",
            "async": false,
            dataType: "json",
            success: function (data) {
                final_data = data;
                console.log(final_data);
            }
        });
        for (var i = 0; i < final_data.length; i++) {
            final_data[i]['index'] = i + 1;
        }
        //console.log(final_data);
        // 显示用户列表
        var table = $('#dataTables-example').DataTable({
            "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "全部数据"]], // 更改显示记录数选项
            "pagingType": "full_numbers", // 页脚设置
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            "data": final_data,
            "columns": [ //返回的json数据在这里填充，注意一定要与上面的<th>数量对应，否则排版出现扭曲
                {
                    "data": null
                },
                {
                    "data": "index"
                },
                {
                    "data": "admin_rank"
                },
                {
                    "data": "username"
                },
                {
                    "data": "admin_teacherNo"
                },
                {
                    "data": "admin_unit"
                },
                {
                    "data": "add_time"
                }
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row, meta) {
                        var html = '<input type="checkbox" name="items" data-id="' + row.id + '"/>';
                        return html;
                    },
                    "targets": 0,
                    "orderable": false // 取消这一行的排序
                }, {
                    "render": function (data, type, row, meta) {
                        var html = '<a href="javascript:void(0)" onclick="openModel(' + row.id + ',\'修改\')">修改</a>';//加单引号
                        return html;
                    },
                    "targets": 7
                }]
        });
    });

</script>
</body>
</html>